@font-face {
    font-family: 'OPS Placard';
    src: url('OPSPlacard-Regular.woff2') format('woff2'),
        url('OPSPlacard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

