:root {
	--main-font: 'OPSPlacard-Regular';
	--secondary-font: Arial, 'Helvetica', sans-serif;
	--main-color: #e41512;
	--backgorund-color: #e41512;
}

@font-face {
  font-family: 'OPSPlacard-Regular';
  src: url('../fonts/OPSPlacard-Regular.woff2') format('woff2'),
       url('../fonts/OPSPlacard-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: var(--secondary-font);
}
.entry-header,
.site-header {
	font-family: var(--main-font);
}

a,
a:focus,
a:visited,
a:active { 
	color: var(--main-color);
	transition: color 250ms ease-in-out;
}
a:hover { color: #e57373 }

body {
	background-color: #f6f6f6;
	color: #444;
	margin: 0;
}
.post, .page { margin:0 }

/* the grid */
div#page {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    position: relative;
}
.home .site-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.home .site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 250px;
	z-index: 10;
	background: #ffffffB0;
	transition: height 250ms ease-in-out;
}
.home .site-header.compact { 
	height: 52px;
	overflow: hidden;
}
.home .site-header.hidden {
    height: 0;
    overflow: hidden;
}
.home .site-main {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
@media screen and (min-width: 37.5em) {
	div#page {
		position: initial;
	    max-width: 1440px;
	    height: 100vh;
	    display: grid;
	    grid-template-columns: min-content 1fr;
	    grid-template-rows: repeat(3, min-content);
	    grid-column-gap: 10px;
	    grid-row-gap: 0;
	    margin: 0 5vw;
	}
	.site-header { grid-area: 1 / 1 / 3 / 2;}
	.site-main {
		grid-area: 1 / 2 / 3 / 3; 
		min-height: calc(100vh - 25px);
	}
	.site-footer {
		grid-area: 3 / 1 / 4 / 3; 
		height: 20px;
	}


	.home .site-header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
		width: 265px;
		padding: 0px 15px;
		box-sizing: border-box;
		border-right: 20px solid var(--main-color);
	}
	.home .site-header.compact { height: 100%; overflow: visible;}
	.home .site-main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
/* /END the grid */

.site-header .caw-event-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.825rem;
    color: var(--main-color);
    margin: 0 0 20px 0;
    max-width: 210px;
}
.site-header .main-navigation ul {
	font-family: Arial;
	flex-flow: column wrap;
	padding-top: 120px;
	margin-top: 0;
}
.site-header .main-navigation a {
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--main-color);
}

.site-header .main-navigation ul#lang-switcher {
    border-top: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
}
.site-header .main-navigation ul#lang-switcher a {
	padding-right: 15px;
	border: none;
}

.site-title a {
    background: url(../graphics/CRC_Final.svg) no-repeat left center;
    display: block;
    width: 225px;
    height: 215px;
    margin: 10px auto 10px 30px;
}

.lettering {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	height: 100vh;
	width: 20px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}
.lettering.lettering-left {
    display: none;
}
.lettering.lettering-right {
    right: 0;
    left: initial;
    z-index: 2;
    background: var(--main-color);
}
.lettering span:after {
	content: attr(data-letter);
	transform-origin: center;
	transform: rotate(-90deg);
	display: block;
	color: #fff;
	font-weight: 700;
	font-size: 1.125rem;
}
.lettering.lettering-right span:after {
	transform: rotate(90deg);
}

#site-navigation  {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
}
.menu-main-container {
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: calc(100vw - 20px);
    background: #FFFFFFB0;
    transition: top 250ms ease-in-out;
}
.toggled .menu-main-container {
	top: 0;
}

#site-navigation button.menu-toggle {
    position: fixed;
    right: 45px;
    top: 18px;
    z-index: 10;
    width: 35px;
    height: 50px;
    padding: 0px;
    box-sizing: content-box;
    border: none;
    border-top: 2px solid var(--main-color);
    border-radius: 0;
    background: transparent;
    text-indent: -9999px;
}
button.menu-toggle:before, button.menu-toggle:after {
    top: 10px;
    right: 0;
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--main-color);
    text-indent: -9999px;
    transition: all 50ms ease-in-out;
}
button.menu-toggle:after {
    top: 22px;
}
#site-navigation.toggled button.menu-toggle { border-color:transparent; }
#site-navigation.toggled button.menu-toggle:before, #site-navigation.toggled button.menu-toggle:after {
    transform: rotate(45deg)  translate(-2px, -4px);
}
#site-navigation.toggled button.menu-toggle:after {
    transform: rotate(-45deg) translate(13px, -10px);
}

@media all and (min-width: 37.5em) {
	.site-header .main-navigation ul {
		margin-top: 50px;
		padding-top: 20px;
	}
	.site-header .main-navigation a {
		font-size: 1rem;
		padding: 0;
		margin: 0;
		border-bottom: none;
	}
	#primary-menu .current {
		border-bottom: 2px solid var(--main-color);
		display: inline;
	}
	#site-navigation {
		position: initial;
		width: 100%;
	}
	.menu-main-container {
		position: initial;
		width: 100%;
		height: auto;
		background: transparent;
	}
	.site-title a { margin: 30px 0 0 0; }
	.lettering { left: 244px; }
	.lettering.lettering-left { display: flex; }
}

#caw-mapbox {
	width: 100%;
	height: 100vh;
}
.caw-popup {
	font-family: var(--main-font);
    font-size: 1.675em;
    text-transform: uppercase;
    color: var(--main-color);
}
.caw-popup .mapboxgl-popup-content,
.caw-popup .mapboxgl-popup-tip {
	border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
}
.caw-popup .mapboxgl-popup-tip {
	border: none;
}
.mapboxgl-control-container .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl.mapboxgl-ctrl-group {
    margin-right: 40px;
    box-shadow: none;
}
.mapboxgl-control-container .mapboxgl-ctrl-group button,
.mapboxgl-control-container .mapboxgl-ctrl-group button:first-child,
.mapboxgl-control-container .mapboxgl-ctrl-group button:last-child {
    border: none;
    border-radius: 0;
    /* background: #f00; */
}

#caw-content {
    position: absolute;
    z-index: 3;
    top: 100vh;
    left: 0;
    width: 0;
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background: #ffffffB0;
    transition: top 500ms ease-in-out;
    border-top: 3px solid var(--main-color);
}
#caw-content .close-tabcontainer {
	position: absolute;
    top: 5px;
    right: 17px;
    width: 50px;
    height: 50px;
    cursor: pointer;
	transition: transform 250ms ease-in-out;
}
#caw-content .close-tabcontainer:hover {
    transform-origin: center;
    transform: scale(0.75);
}
#caw-content .close-tabcontainer:before,
#caw-content .close-tabcontainer:after {
	content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-left: 2px solid var(--main-color);
    transform: rotate(45deg);
}
#caw-content .close-tabcontainer:after {
    transform: rotate(-45deg);
    top: 1px;
    left: 20px;
}

#caw-content.open {
    width: calc(100vw - 20px);
    top: 52px;
}
#caw-content.full.open { 
	width: calc(100vw - 20px);
}
@media screen and (min-width: 37.5em) {
	#caw-mapbox {
		height: 100%;
	}
	#caw-content {
		top: 0;
		left: 245px;
		max-width: calc(100vw - 245px);
		border-top: none;
		border-right: 20px solid var(--main-color);
		transition: width 500ms ease-in-out;
	}

	#caw-content.open { 
		width: calc(50vw - 120px);
		top: 0;
	}
}



#caw-tabcontainer {
	padding: 50px 30px;
	color: var(--main-color);
	font-family: var(--secondary-font);
	font-size: 1em;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
#caw-tabcontainer.visible { opacity: 1; }
#caw-tabcontainer .title-tabcontent,
#caw-tabcontainer .time-tabcontent {
	font-family: var(--main-font);
	font-size: 2.25em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 400;
	margin: 25px 0;
	padding: 0;
}
#caw-tabcontainer .title-tabcontent.heading-line {
    border-bottom: 2.5px solid var(--main-color);
    padding-bottom: 35px;
}
#caw-tabcontainer .content-tabcontent img {
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
}

#caw-tabcontainer .caw-listing-item {
    margin: 30px 0 40px 0;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: space-around;
    line-height: 1em;
}
#caw-tabcontainer .caw-listing-item .title-tabcontent,
#caw-tabcontainer .caw-listing-item .time-tabcontent  {
    padding: 0;
    margin: 0;
    line-height: 1em;
}
#caw-tabcontainer .caw-listing .content-tabcontent p {
    margin: 5px 0;
}

@media all and (min-width: 37.5em) {
	#caw-tabcontainer { padding: 0 55px; }
}